
$grid-columns:  12;
$grid-gutter:   $spacing-unit / $content-width * 100%;  // $spacing-unit at full width


@mixin grid ($prefix) {
  @for $i from 1 through $grid-columns {
    &.grid--#{$prefix}cols-#{$i} {
      display: grid;
      grid-template-columns: repeat($i, 1fr);
    }
  }

  @for $c from 1 through $grid-columns {
    .#{$prefix}col--span-#{$c} {
      grid-column: span #{$c};
    }
    .#{$prefix}col--start-#{$c} {
      grid-column-start: #{$c};
    }
    .#{$prefix}col--end-#{$c} {
      grid-column-end: #{$c};
    }
  }

  @for $r from 1 through 5 {
    .#{$prefix}row--span-#{$r} {
      grid-row: span #{$r};
    }
  }
}


.grid {
  // Gaps
  &--col-gap {
    grid-column-gap: $grid-gutter;
  }
  &--col-gap--x2 {
    grid-column-gap: $grid-gutter * 2;
  }

  &--row-gap {
    grid-row-gap: $grid-gutter;
  }
  &--row-gap--x2 {
    grid-row-gap: $grid-gutter * 2;
  }


  // Grid spec
  @include grid('');

  @include narrow {
    @include grid('s-');
  }
  @include tablet {
    @include grid('m-');
  }
  @include desktop {
    @include grid('l-');
  }
}
