// Place here theme-specific css

::selection {
  color: $color-white;
  background-color: $color-black;
}


// Links
a {
  color: $color-blue;
  text-decoration: none;

  &:hover, &:focus {
    color: darken($color-blue, 10);
    text-decoration: underline;
  }
}
